.mytext{
	color: #f2f2f2;
	font-family: Verdana;
	font-weight: 500; 
	margin:300px auto 0 auto;
	display: flex;
	justify-content: center;

}


body{
	background-image: url("start-1.jpg");
	background-size: cover;
}

.jumbotron{
	background: none;
	display: flex;
	justify-content: center;

}